section.it-advantages
	.it-container
		.it-all-title
			span.it-all-title__text
				|	Преимущества  винтового фундамента
		.it-container
			.it-advantages__wrap
				table.it-advantages__table
					tbody.it-advantages__inner-table
						tr
							th
								|	Диаметр трубы 89
							th
								|	3 м
							th
								|	4 м
							th
								|	5 м
						tr
							td
								|	Монтаж под «ленту» (свая + монтаж)
							td
								|	от 2 000 р.
							td
								|	от 2 400 р.
							td
								|	от 2 800 р.
						tr
							td
								|	Под ключ «эконом» (вкручивание по уровню, приваривание оголовка)
							td
								|	от 2 500 р.
							td
								|	от 2 800 р.
							td
								|
						tr
							td
								|    Монтаж под ключ (вкручивание, обрезка, монтажных отверстий
								| по уровню,  засыпка ЦПС, приваривание оголовка)
							td
								|	от 2 700 р.
							td
								|	от 3 100 р.
							td
								|	от 3 600 р.
