header.it-header(data-main-header)
	.it-header__top-wrap
		.it-container
			.it-header__top
				.it-header__half.it-header__half--left
					a.it-logo(href='/')
						.it-logo__img-box
							img.it-logo__img.it-logo__img--desktop(src='static/img/crypto/header/logo.svg', alt='')
							img.it-logo__img.it-logo__img--phone(src='static/img/crypto/header/logo-phone.svg', alt='')
				.it-header__half.it-header__half--right

	.it-header__bottom-wrap(data-nav-other)
		.it-container
			.it-header__bottom
				.it-header__half.it-header__half--left
				.it-header__half.it-header__half--right
					include nav