section.it-schema#it-schema
	.it-container
		.it-all-title
			span.it-all-title__text
				|    Схема работы
		ul.it-schema__wrap
			li.it-schema__item(data-step-item)
				.it-schema__title
					|	January — February — March 2018
				.it-schema__subtitle
					|	Whitepaper Announcement
				.it-schema__desc
					|	Start the company. The token whitepaper provides a deep dive into Blockstack Token.
			li.it-schema__item(data-step-item)
				.it-schema__title
					|	April 2018
				.it-schema__subtitle
					|	Main Sale Ends
				.it-schema__desc
					|	Full e-commerce solution & exchange to fiat currency
			li.it-schema__item(data-step-item)
				.it-schema__title
					|	Q3 2018
				.it-schema__subtitle
					|	Main Sale Ends
				.it-schema__desc
					|	Mobile App - Real world TIPbot Launch
			li.it-schema__item(data-step-item)
				.it-schema__title
					|	32 July 2018
				.it-schema__subtitle
					|	Main Sale Ends
				.it-schema__desc
					|	Participation becomes no longer possible