@import "../__vars";
@import "../__mixins";
@import "../smart-grid";

.it-discount__wrap {
  @include row-flex();
}

.it-discount__half {
  @include col();
  @include size(6);
  @include size-sm(12);
}

.it-discount__half--left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5% 4%;
  background-color: #34A0CD;
}

.it-discount__title {
  font-weight: 700;
  font-size: rem(24px);
  line-height: 1.5;
  margin-bottom: 25px;
  color: #ffffff;
}

.it-discount__desc {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}

.it-discount__buttons {
  max-width: 170px;
  width: 100%;
}